In this exercise we shall do the data analysis with python, this involves cleaning, analysing and modifying the data according to the Business objectives to be met, also guided by the CRISP-DM.

In [61]:
#loading the pandas library 
import pandas as pd

Loading the csv file into the collab

In [156]:
df= pd.read_csv('/content/Autolib.csv')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

Noting the the Null values in tables , we shall proceed to drop them

In [64]:
#using the df.drop function to drop the tables by specifying the label names and corresponding axes

In [65]:
#importing the library and specifying the columns to drop 
import pandas as pd
df.drop(['Displayed comment','Geo point','Scheduled at'], axis= 1 ,inplace = True)

In [66]:
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 22 columns]

In [69]:
df['ID'].value_counts()

paris-portedemontrouge-8          13
paris-grenelle31-parking          11
paris-courcelles-69               11
paris-philippeauguste-126         11
paris-mathis-35                   11
                                  ..
paris-jourdan-26                   1
puteaux-degaulle-70                1
creteil-marechallyautey-16         1
malakoff-pierrebrossolette-192     1
paris-chausseedantin-5             1
Name: ID, Length: 1105, dtype: int64

checking to find missing values in the dataset

In [70]:
#using the is.null()
df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

checking to find the duplicate values in the data

In [71]:
df.drop_duplicates().any()

Address                True
Cars                   True
Bluecar counter        True
Utilib counter         True
Utilib 1.4 counter     True
Charge Slots           True
Charging Status        True
City                   True
ID                     True
Kind                   True
Postal code            True
Public name            True
Rental status          True
Slots                  True
Station type           True
Status                 True
Subscription status    True
year                   True
month                  True
day                    True
hour                   True
minute                 True
dtype: bool

Further Analysis

In [86]:
import numpy as np
df['Cars']== df['Bluecar counter']
conditions = [df['Cars'] == df['Bluecar counter']]
choices = [True]
df['Equal']= np.select(conditions,choices,default='False')
df['Equal'].unique()

array(['True'], dtype=object)

In [88]:
#df['cars'] == df['Bluecar counter']
conditions=[(df['Charging Status']=='future') & (df['Bluecar counter']==0)]
choices=[True]
df['Future']=np.select(conditions,choices,default='False')
df['Future'].unique()
df['Future']

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: Future, Length: 5000, dtype: object

In [151]:
df['Charging Status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

In [159]:
import numpy as np
conditions=[(df['Charging Status'] == 'future') & (df['Charge Slots']) >=0]
choices = [True]
df['Charge_status_slots'] = np.select(conditions,choices,default='False')
df['Charge_status_slots'].unique()

array(['True'], dtype=object)

In [101]:
conditions=[df['Bluecar counter']==0,['Station type'] =='subs_center']
choices=['A','B']
df['winner']=np.select(conditions,choices,default='Tie')
df[['Bluecar counter','Station type']]

      Bluecar counter Station type
0                   0      station
1                   6      station
2                   3      station
3                   3      station
4                   3      station
...               ...          ...
4995                2      station
4996                4      station
4997                1      station
4998                2      station
4999                4      station

[5000 rows x 2 columns]

Creating Combined columns

In [155]:
df['Date']=pd.to_datetime(df[['minute','hour','day','month','year']])
df.head(3)

                            Address  Cars  ...  winner                Date
0               2 Avenue de Suffren     0  ...       A 2018-04-08 11:43:00
1         145 Rue Raymond Losserand     6  ...     Tie 2018-04-06 07:24:00
2  2 Avenue John Fitzgerald Kennedy     3  ...     Tie 2018-04-03 20:14:00

[3 rows x 27 columns]

In [107]:
df['Date']=pd.to_datetime(df[['minute','hour','day','month','year']])
df.head(3)

                            Address  Cars  ...  winner                Date
0               2 Avenue de Suffren     0  ...       A 2018-04-08 11:43:00
1         145 Rue Raymond Losserand     6  ...     Tie 2018-04-06 07:24:00
2  2 Avenue John Fitzgerald Kennedy     3  ...     Tie 2018-04-03 20:14:00

[3 rows x 27 columns]

Solving the research Questions

1. Finding the most popular hour for picking up an elctric BlueCar

In [131]:
h=df[(df['year'] == 2018)&(df['month']  == 4)& 
 (df['City'] =='Paris') & 
 (df['Bluecar counter'] > 0)]['hour'].value_counts().max()
df.loc[h]['hour']

6

most popular hour for returning Cars?

In [140]:
max=df.loc[df['Rental status']=='nonexistent'].hour.max()
print(max)

13

checking whether the most popular station belongs to that postal code

In [141]:
post = df.loc[x]
print(post)

Address                    1 Place Ferrari
Cars                                     2
Bluecar counter                          2
Utilib counter                           0
Utilib 1.4 counter                       0
Charge Slots                             0
Charging Status                nonexistent
City                               Clamart
ID                       clamart-ferrari-1
Kind                               STATION
Postal code                          92140
Public name              Clamart/Ferrari/1
Rental status                  operational
Slots                                    1
Station type                       station
Status                                  ok
Subscription status            nonexistent
year                                  2018
month                                    4
day                                      6
hour                                    18
minute                                  58
Equal                                 True
Future                               False
Charge_status_slots                  False
winner                                 Tie
Date                   2018-04-06 18:58:00
Name: 1065, dtype: object

finding the most popular station

In [138]:
c=df['Public name'].max()
print(c)

Ãpinay-sur-Seine/Foch/53

Finding the overall most popular postal code for picking cars

In [137]:
x=df.loc[df['Rental status']=='operational']['Bluecar counter'].value_counts().max()

#locating max 
t=df.loc[x]['Postal code']
print(t)

92140

Finding the most popular postal address for picking up the Blue Elctric Cars

In [144]:
x=df.loc[df['Bluecar counter']>0]['hour'][df['Rental status']=='operational'].value_counts().max()
most_pop=df.loc[x]['Postal code']
print(most_pop)

75011

Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [146]:
#using the groupby function 
df.groupby('Bluecar counter').count()

                 Address  Cars  ...  winner  Date
Bluecar counter                 ...
0                   1447  1447  ...    1447  1447
1                    663   663  ...     663   663
2                    628   628  ...     628   628
3                    672   672  ...     672   672
4                    636   636  ...     636   636
5                    574   574  ...     574   574
6                    341   341  ...     341   341
7                     39    39  ...      39    39

[8 rows x 26 columns]

In [149]:
#print(df)
df.head()

                              Address  Cars  ...  winner                Date
0                 2 Avenue de Suffren     0  ...       A 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...     Tie 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...     Tie 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...     Tie 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...     Tie 2018-04-08 17:23:00

[5 rows x 27 columns]