<a href="https://colab.research.google.com/github/DavidOkoyo/Autolib/blob/main/SQL_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [8]:
import csv

In [9]:
import pandas as pd

In [10]:
with open('/content/Interpol (1).csv','r') as f:
  Interpol=pd.read_csv(f, index_col=0, encoding='utf')

In [11]:
%sql
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol

 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [12]:
%%sql
SELECT * FROM interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [13]:
%%sql
SELECT Region, "Wanted Fugitives" ,"Country" FROM Interpol limit 5;

 * sqlite://
Done.

[('Europe', 3, 'Albania'),
 ('Northern Africa', 0, 'Angola'),
 ('South America', 2, 'Argentina'),
 ('Oceania', 1, 'Australia'),
 ('Europe', 1, 'Austria')]

In [14]:
%%sql
SELECT DISTINCT Region FROM Interpol limit6;

 * sqlite://
Done.

[('Europe',),
 ('Northern Africa',),
 ('South America',),
 ('Oceania',),
 ('Asia',),
 ('Central America',),
 ('Southern Africa',),
 ('North America',),
 ('Sub Saharan Africa',),
 ('Europe, Asia',)]

In [15]:
%%sql
SELECT COUNT(DISTINCT Country) FROM Interpol

 * sqlite://
Done.

[(78,)]

In [16]:
%%sql
SELECT Region,"Wanted Fugitives","Country" FROM Interpol limit 5;

 * sqlite://
Done.

[('Europe', 3, 'Albania'),
 ('Northern Africa', 0, 'Angola'),
 ('South America', 2, 'Argentina'),
 ('Oceania', 1, 'Australia'),
 ('Europe', 1, 'Austria')]

In [17]:
%%sql 
SELECT Country,"National Fugitives","Wanted Fugitives" FROM Interpol limit 6;

 * sqlite://
Done.

[('Albania', 3, 3),
 ('Angola', 0, 0),
 ('Argentina', 2, 2),
 ('Australia', 1, 1),
 ('Austria', 1, 1),
 ('Bangladesh', 2, 1)]

In [18]:
%%sql
SELECT Country,"Region","Flag","Possible Hosted Fugitives" FROM Interpol Limit 5;

 * sqlite://
Done.

[('Albania', 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif', 'Possible Hosted Fugitives'),
 ('Angola', 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif', 'Possible Hosted Fugitives'),
 ('Argentina', 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif', 'Possible Hosted Fugitives'),
 ('Australia', 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif', 'Possible Hosted Fugitives'),
 ('Austria', 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif', 'Possible Hosted Fugitives')]

In [19]:
%%sql
SELECT Region,"Wanted Fugitives" FROM Interpol Limit 5;

 * sqlite://
Done.

[('Europe', 3),
 ('Northern Africa', 0),
 ('South America', 2),
 ('Oceania', 1),
 ('Europe', 1)]

In [20]:
%%sql
SELECT * FROM Interpol WHERE Region='Northern Africa';

 * sqlite://
Done.

[('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Morocco', 2, 0, 3, 'Northern Africa', 'http://www.crwflags.com/fotw/images/m/ma.gif')]

In [21]:
%%sql 
SELECT * FROM Interpol WHERE Region='Oceania';

 * sqlite://
Done.

[('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('New Zealand', 0, 0, 1, 'Oceania', 'http://www.crwflags.com/fotw/images/n/nz.gif')]

In [22]:
%%sql
SELECT Country,"Wanted Fugitives","Flag","Wanted Fugitives" FROM Interpol Limit 4;

 * sqlite://
Done.

[('Albania', 3, 'http://www.crwflags.com/fotw/images/a/al.gif', 3),
 ('Angola', 0, 'http://www.crwflags.com/fotw/images/a/ao.gif', 0),
 ('Argentina', 2, 'http://www.crwflags.com/fotw/images/a/ar.gif', 2),
 ('Australia', 1, 'http://www.crwflags.com/fotw/images/a/au.gif', 1)]

In [23]:
 %%sql
 SELECT Region, "Wanted Fugitives","National Fugitives" FROM Interpol Limit 9

 * sqlite://
Done.

[('Europe', 3, 3),
 ('Northern Africa', 0, 0),
 ('South America', 2, 2),
 ('Oceania', 1, 1),
 ('Europe', 1, 1),
 ('Asia', 1, 2),
 ('Europe', 1, 1),
 ('Europe', 2, 0),
 ('Central America', 1, 1)]

In [24]:
%%sql
SELECT Country,Region,"Wanted Fugitives", "National Fugitives"
FROM Interpol
WHERE "Wanted Fugitives"=3 OR "National Fugitives"=6

 * sqlite://
Done.

[('Albania', 'Europe', 3, 3),
 ('Czech Republic', 'Europe', 3, 3),
 ('Sweden', 'Europe', 3, 2),
 ('The Netherlands', 'Europe', 3, 6),
 ('United Kingdom', 'Europe', 4, 6)]

In [25]:
%%sql
SELECT * FROM Interpol
WHERE Country='Albania' AND Region='Europe'

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif')]

In [26]:
%%sql
SELECT * FROM Interpol
WHERE NOT Region='Europe' limit 5;

 * sqlite://
Done.

[('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Belize', 1, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/b/bz.gif')]

In [27]:
%%sql
SELECT Region, "National Fugitives","Wanted Fugitives"
FROM Interpol
ORDER BY "National Fugitives","Wanted Fugitives" asc Limit 7;

 * sqlite://
Done.

[('Northern Africa', 0, 0),
 ('South America', 0, 0),
 ('Asia', 0, 0),
 ('Central America', 0, 0),
 ('Sub Saharan Africa', 0, 0),
 ('South America', 0, 0),
 ('Europe', 0, 0)]

In [28]:
%%sql
SELECT * FROM Interpol
ORDER BY Country DESC Limit 5;

 * sqlite://
Done.

[('Zimbabwe', 0, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zw.gif'),
 ('Zambia', 1, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zm.gif'),
 ('Venezuela', 0, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/v/ve.gif'),
 ('Uruguay', 1, 1, 1, 'South America', 'http://www.crwflags.com/fotw/images/u/uy.gif'),
 ('United States', 8, 11, 6, 'North America', 'http://www.crwflags.com/fotw/images/u/us.gif')]

In [29]:
%%sql
SELECT * FROM Interpol
ORDER BY Country ASC, Region ASC limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [30]:
%%sql
INSERT INTO Interpol
VALUES("Nairobi","3","3","3","SouthAmerica","HAHA")

 * sqlite://
1 rows affected.

[]

In [31]:
%%sql
SELECT * FROM Interpol Limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [32]:
%%sql
SELECT * FROM Interpol
WHERE Country IS NOT NULL LIMIT 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [33]:
%%sql 
Update Interpol
SET Flag='David.Okoyo@outlook.com'
WHERE Country='Albania';

 * sqlite://
1 rows affected.

[]

In [34]:
%%sql
SELECT * FROM Interpol Limit 3;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'David.Okoyo@outlook.com'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif')]

In [35]:
%%sql
DELETE FROM Interpol WHERE Country='Angola';

 * sqlite://
1 rows affected.

[]

In [36]:
%%sql
SELECT * FROM Interpol Limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'David.Okoyo@outlook.com'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif')]

In [37]:
with open('/content/sample_data/california_housing_test.csv','r') as f:
  Calif=pd.read_csv(f, index_col=0, encoding='utf')

In [38]:
%sql
%sql DROP TABLE if EXISTS Calif;
%sql PERSIST Calif

 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted calif'

In [39]:
%%sql
SELECT * FROM Calif Limit 5;

 * sqlite://
Done.

[(-122.05, 37.37, 27.0, 3885.0, 661.0, 1537.0, 606.0, 6.6085, 344700.0),
 (-118.3, 34.26, 43.0, 1510.0, 310.0, 809.0, 277.0, 3.599, 176500.0),
 (-117.81, 33.78, 27.0, 3589.0, 507.0, 1484.0, 495.0, 5.7934, 270500.0),
 (-118.36, 33.82, 28.0, 67.0, 15.0, 49.0, 11.0, 6.1359, 330000.0),
 (-119.67, 36.33, 19.0, 1241.0, 244.0, 850.0, 237.0, 2.9375, 81700.0)]

In [40]:
%%sql
SELECT longitude
FROM CALIF
WHERE "latitude"=33.78

 * sqlite://
Done.

[(-117.81,),
 (-117.99,),
 (-116.36,),
 (-118.19,),
 (-118.03,),
 (-118.2,),
 (-117.93,),
 (-118.08,),
 (-118.05,),
 (-118.26,),
 (-116.43,)]

In [41]:
with open('/content/sample_data/california_housing_train.csv','r') as f:
  SGR=pd.read_csv(f, index_col=0, encoding='utf')

In [42]:
%sql
%sql DROP TABLE if EXISTS SGR;
%sql PERSIST SGR

 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted sgr'

In [43]:
%%sql
SELECT * FROM SGR LIMIT 5;

 * sqlite://
Done.

[(-114.31, 34.19, 15.0, 5612.0, 1283.0, 1015.0, 472.0, 1.4936, 66900.0),
 (-114.47, 34.4, 19.0, 7650.0, 1901.0, 1129.0, 463.0, 1.82, 80100.0),
 (-114.56, 33.69, 17.0, 720.0, 174.0, 333.0, 117.0, 1.6509, 85700.0),
 (-114.57, 33.64, 14.0, 1501.0, 337.0, 515.0, 226.0, 3.1917, 73400.0),
 (-114.57, 33.57, 20.0, 1454.0, 326.0, 624.0, 262.0, 1.925, 65500.0)]

In [44]:
%%sql
DELETE FROM SGR WHERE population ='1';

 * sqlite://
0 rows affected.

[]

In [45]:
%%sql
DELETE FROM SGR WHERE housing_median_age='15';

 * sqlite://
416 rows affected.

[]

In [46]:
%%sql
UPDATE SGR 
SET total_bedrooms ='10,000'
WHERE  longitude = '-114.47';

 * sqlite://
1 rows affected.

[]

In [47]:
%%sql
UPDATE SGR
SET housing_median_age='24.0'
WHERE latitude='34.4';

 * sqlite://
20 rows affected.

[]

In [48]:
%%sql 
SELECT * FROM SGR LIMIT 5;

 * sqlite://
Done.

[(-114.47, 34.4, 24.0, 7650.0, '10,000', 1129.0, 463.0, 1.82, 80100.0),
 (-114.56, 33.69, 17.0, 720.0, 174.0, 333.0, 117.0, 1.6509, 85700.0),
 (-114.57, 33.64, 14.0, 1501.0, 337.0, 515.0, 226.0, 3.1917, 73400.0),
 (-114.57, 33.57, 20.0, 1454.0, 326.0, 624.0, 262.0, 1.925, 65500.0),
 (-114.58, 33.63, 29.0, 1387.0, 236.0, 671.0, 239.0, 3.3438, 74000.0)]

In [49]:
%%sql
SELECT MAX (total_bedrooms) FROM SGR;

 * sqlite://
Done.

[('10,000',)]

In [50]:
%%sql
SELECT MAX (POPULATION) FROM SGR;

 * sqlite://
Done.

[(35682.0,)]

In [51]:
%%sql
SELECT MAX (longitude) FROM SGR;

 * sqlite://
Done.

[(-114.47,)]

In [52]:
%%sql
SELECT MIN (longitude) FROM SGR;

 * sqlite://
Done.

[(-124.35,)]

In [53]:
%%sql
SELECT MIN(population) AS Cheapest
FROM SGR;

 * sqlite://
Done.

[(3.0,)]

In [54]:
%%sql
SELECT COUNT (total_rooms)
FROM SGR

 * sqlite://
Done.

[(16584,)]

In [55]:
%%sql
SELECT COUNT (latitude) FROM SGR 
WHERE latitude %5;

 * sqlite://
Done.

[(15922,)]

In [56]:
%%sql
SELECT AVG(population)
FROM SGR;

 * sqlite://
Done.

[(1424.4389170284612,)]

In [57]:
%%sql
SELECT SUM (population)
FROM SGR;

 * sqlite://
Done.

[(23622895.0,)]

In [58]:
%%sql
SELECT * FROM SGR
WHERE latitude LIKE '4%' lIMIT 4;

 * sqlite://
Done.

[(-120.08, 41.79, 34.0, 1355.0, 262.0, 434.0, 178.0, 2.0903, 56100.0),
 (-120.12, 41.4, 33.0, 2820.0, 515.0, 976.0, 403.0, 2.6062, 52600.0),
 (-120.2, 40.26, 26.0, 2399.0, 518.0, 1037.0, 443.0, 2.6765, 47600.0),
 (-120.35, 40.63, 33.0, 240.0, 49.0, 63.0, 22.0, 3.625, 200000.0)]

In [59]:
%%sql
SELECT * FROM SGR WHERE total_rooms LIKE '4%' LIMIT 4;

 * sqlite://
Done.

[(-114.59, 33.61, 34.0, 4789.0, 1175.0, 3134.0, 1056.0, 2.1782, 58400.0),
 (-114.65, 32.79, 21.0, 44.0, 33.0, 64.0, 27.0, 0.8571, 25000.0),
 (-115.73, 33.09, 27.0, 452.0, 103.0, 258.0, 61.0, 2.9, 87500.0),
 (-115.73, 32.8, 44.0, 472.0, 81.0, 206.0, 57.0, 2.2083, 93800.0)]

In [60]:
%%sql
SELECT * FROM SGR
WHERE latitude LIKE '%33.61%' LIMIT 4;

 * sqlite://
Done.

[(-114.58, 33.61, 25.0, 2907.0, 680.0, 1841.0, 633.0, 2.6768, 82400.0),
 (-114.59, 33.61, 34.0, 4789.0, 1175.0, 3134.0, 1056.0, 2.1782, 58400.0),
 (-116.48, 33.61, 8.0, 1294.0, 272.0, 457.0, 199.0, 2.9167, 115300.0),
 (-117.16, 33.61, 3.0, 2744.0, 428.0, 1223.0, 366.0, 4.7944, 215300.0)]

In [61]:
%%sql
SELECT * FROM SGR
WHERE total_bedrooms LIKE '%680.0%' LIMIT 4;

 * sqlite://
Done.

[(-114.58, 33.61, 25.0, 2907.0, 680.0, 1841.0, 633.0, 2.6768, 82400.0),
 (-117.81, 33.87, 19.0, 4491.0, 680.0, 2457.0, 702.0, 6.0591, 233500.0),
 (-118.32, 33.9, 35.0, 3189.0, 680.0, 1882.0, 651.0, 3.6625, 188000.0),
 (-118.35, 33.98, 42.0, 3081.0, 680.0, 1785.0, 609.0, 3.745, 170800.0)]

In [62]:
%%sql 
SELECT * FROM SGR 
WHERE housing_median_age like '%25%' LIMIT 4;

 * sqlite://
Done.

[(-114.58, 33.61, 25.0, 2907.0, 680.0, 1841.0, 633.0, 2.6768, 82400.0),
 (-115.49, 32.67, 25.0, 2322.0, 573.0, 2185.0, 602.0, 1.375, 70100.0),
 (-115.53, 32.99, 25.0, 2578.0, 634.0, 2082.0, 565.0, 1.7159, 62200.0),
 (-115.56, 32.8, 25.0, 1311.0, 375.0, 1193.0, 351.0, 2.1979, 63900.0)]

In [63]:
%%sql
SELECT * FROM SGR
WHERE mediaN_income like '%4.5%' LIMIT 5;

 * sqlite://
Done.

[(-116.38, 33.71, 17.0, 12509.0, 2460.0, 2737.0, 1423.0, 4.5556, 258100.0),
 (-116.52, 32.9, 18.0, 4454.0, 852.0, 1754.0, 656.0, 4.57, 189900.0),
 (-116.91, 32.85, 21.0, 4152.0, 703.0, 2255.0, 697.0, 4.5096, 159500.0),
 (-116.94, 32.84, 32.0, 1607.0, 253.0, 778.0, 262.0, 4.5278, 166300.0),
 (-116.95, 32.96, 18.0, 2087.0, 353.0, 992.0, 329.0, 4.5, 222600.0)]

In [64]:
%%sql
SELECT latitude , housing_median_age
FROM SGR
WHERE housing_median_age IN (21.0) limit 2;

 * sqlite://
Done.

[(33.6, 21.0), (32.79, 21.0)]

In [65]:
%%sql
SELECT *FROM SGR
WHERE longitude BETWEEN 32.9 AND 33.0 LIMIT 7;

 * sqlite://
Done.

[]

In [69]:
%%sql
SELECT * FROM SGR LIMIT 6;

 * sqlite://
Done.

[(-114.47, 34.4, 24.0, 7650.0, '10,000', 1129.0, 463.0, 1.82, 80100.0),
 (-114.56, 33.69, 17.0, 720.0, 174.0, 333.0, 117.0, 1.6509, 85700.0),
 (-114.57, 33.64, 14.0, 1501.0, 337.0, 515.0, 226.0, 3.1917, 73400.0),
 (-114.57, 33.57, 20.0, 1454.0, 326.0, 624.0, 262.0, 1.925, 65500.0),
 (-114.58, 33.63, 29.0, 1387.0, 236.0, 671.0, 239.0, 3.3438, 74000.0),
 (-114.58, 33.61, 25.0, 2907.0, 680.0, 1841.0, 633.0, 2.6768, 82400.0)]

In [72]:
%%sql
SELECT * FROM Interpol Limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'David.Okoyo@outlook.com'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif')]

In [73]:
%sql
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol

 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [78]:
%%sql
SELECT * FROM Interpol 
WHERE Country LIKE 'south%';

 * sqlite://
Done.

[('South Africa', 3, 2, 4, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/za.gif')]

In [79]:
%%sql
SELECT * FROM Interpol
WHERE Country like 'Congo%';

 * sqlite://
Done.

[('Congo', 0, 0, 1, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/c/cg.gif')]

In [85]:
%%sql
SELECT * FROM Interpol
WHERE Country Like 'mo%';

 * sqlite://
Done.

[('Montenegro', 3, 2, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/me.gif'),
 ('Morocco', 2, 0, 3, 'Northern Africa', 'http://www.crwflags.com/fotw/images/m/ma.gif'),
 ('Mozambique', 0, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/m/mz.gif')]

In [92]:
%%sql
SELECT * FROM Interpol WHERE "National Fugitives" like '3';

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Canada', 3, 4, 2, 'North America', 'http://www.crwflags.com/fotw/images/c/ca.gif'),
 ('Colombia', 3, 0, 1, 'South America', 'http://www.crwflags.com/fotw/images/c/co.gif'),
 ('Czech Republic', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/c/cz.gif'),
 ('Mexico', 3, 0, 6, 'Central America', 'http://www.crwflags.com/fotw/images/m/mx.gif'),
 ('Montenegro', 3, 2, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/me.gif'),
 ('South Africa', 3, 2, 4, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/za.gif')]

In [96]:
%%sql
SELECT *FROM Interpol WHERE "Region" like 'Europe' Limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Belarus', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/by.gif'),
 ('Belgium', 0, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/be.gif'),
 ('Croatia', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/h/hr.gif')]

In [97]:
%%sql
SELECT COUNT(DISTINCT Country) FROM interpol;

 * sqlite://
Done.

[(78,)]

In [100]:
%%sql
SELECT DISTINCT Country FROM Interpol Limit 5;

 * sqlite://
Done.

[('Albania',), ('Angola',), ('Argentina',), ('Australia',), ('Austria',)]

In [101]:
%%sql
SELECT * FROM Interpol 
WHERE Country like 'kenya%';

 * sqlite://
Done.

[('Kenya', 1, 1, 2, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/k/ke.gif')]

In [114]:
%%sql
SELECT * FROM Interpol
WHERE Country Like 'C%';

 * sqlite://
Done.

[('Cambodia', 0, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/k/kh.gif'),
 ('Canada', 3, 4, 2, 'North America', 'http://www.crwflags.com/fotw/images/c/ca.gif'),
 ('Cayman Islands', 0, 0, 1, 'Central America', 'http://www.crwflags.com/fotw/images/k/ky.gif'),
 ('Chile', 1, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/c/cl.gif'),
 ('Colombia', 3, 0, 1, 'South America', 'http://www.crwflags.com/fotw/images/c/co.gif'),
 ('Congo', 0, 0, 1, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/c/cg.gif'),
 ('Costa Rica', 0, 1, 2, 'Central America', 'http://www.crwflags.com/fotw/images/c/cr.gif'),
 ('Croatia', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/h/hr.gif'),
 ('Curaçao', 0, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/c/cw.gif'),
 ('Czech Republic', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/c/cz.gif')]

In [116]:
%%sql
SELECT * FROM Interpol
WHERE "National Fugitives" BETWEEN 2 AND 3 LIMIT 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Brazil', 2, 4, 3, 'South America', 'http://www.crwflags.com/fotw/images/b/br.gif'),
 ('Canada', 3, 4, 2, 'North America', 'http://www.crwflags.com/fotw/images/c/ca.gif')]

In [121]:
%%sql
SELECT * FROM Interpol WHERE "Region" like 'Asia%' lIMIT 6;

 * sqlite://
Done.

[('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Cambodia', 0, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/k/kh.gif'),
 ('Georgia, Asia', 2, 2, 0, 'Asia', 'http://www.crwflags.com/fotw/images/g/ge.gif'),
 ('India', 0, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/i/in.gif'),
 ('Indonesia', 1, 1, 0, 'Asia', 'http://www.crwflags.com/fotw/images/i/id.gif'),
 ('Iraq', 1, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/i/iq.gif')]

In [131]:
%%sql
SELECT *FROM SGR
WHERE "total_bedrooms" BETWEEN 100 AND 200 lIMIT 10;

 * sqlite://
Done.

[(-114.56, 33.69, 17.0, 720.0, 174.0, 333.0, 117.0, 1.6509, 85700.0),
 (-114.59, 34.83, 41.0, 812.0, 168.0, 375.0, 158.0, 1.7083, 48500.0),
 (-115.32, 32.82, 34.0, 591.0, 139.0, 327.0, 89.0, 3.6528, 100000.0),
 (-115.37, 32.81, 32.0, 741.0, 191.0, 623.0, 169.0, 1.7604, 68600.0),
 (-115.39, 32.76, 16.0, 1136.0, 196.0, 481.0, 185.0, 6.2558, 146300.0),
 (-115.4, 32.86, 19.0, 1087.0, 171.0, 649.0, 173.0, 3.3182, 113800.0),
 (-115.4, 32.7, 19.0, 583.0, 113.0, 531.0, 134.0, 1.6838, 95800.0),
 (-115.49, 32.87, 19.0, 541.0, 104.0, 457.0, 106.0, 3.3583, 102800.0),
 (-115.52, 34.22, 30.0, 540.0, 136.0, 122.0, 63.0, 1.3333, 42500.0),
 (-115.53, 34.91, 12.0, 807.0, 199.0, 246.0, 102.0, 2.5391, 40000.0)]

In [130]:
%%sql
SELECT population AS people
FROM SGR LIMIT 6;

 * sqlite://
Done.

[(1129.0,), (333.0,), (515.0,), (624.0,), (671.0,), (1841.0,)]